body {

    background-image: url('https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


    width: 100%;
    height: 100%;

    background-size: cover;


}
.base-timer__label {
  
 
    margin-top: 30%;
    text-align: center;
    color: crimson;
    font-size: 150%;
    text-shadow: 3px 3px black, 0 0 1px rgb(223, 203, 123);
  }
.overlay {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 1;


}

h1 {
    font-family: "Rye", serif;
    color: crimson;
    font-size: 100%;
    text-shadow: 5px 5px black, 0 0 5px rgb(223, 203, 123);

}

h2 {
    font-family: "Rye", serif;
    text-shadow: 3px 3px black;
    color: crimson;
    font-size: 60%;
    text-shadow: 4px 4px black, 0 0 5px rgb(223, 203, 123);

}

.wanted {

    position: relative;
    max-width: 98%;
    height: auto;
    width: auto\9;
    border-right: 12px;
    filter: brightness(85%);
  
  left: 0;
  margin-bottom: 2%;
  margin-top: 6%;

}

.podata {
    position: absolute;
    
    margin-top: 51%;
    left: 15px;
    max-width: 60%;

    margin-left: 18%;

    filter: brightness(85%);

}

header {
    font-family: "Rye", serif;
    color: crimson;
    font-size: 300%;
}


.imagecontainer {
    width: 425px;
    height: 310px;
    border: 1px solid black;


}

.imagecontainer img {
    width: 98%;
    height: 100%;
    object-fit: cover;
    filter: brightness(85%);
}


.link {
    font-size: 100%;
    color:bisque;
    display: flex;
    font-family: "Rye", serif;





}

ul {
    font-family: "Rye", serif;
    font-size: 90%;

}

.crimes {
    background-color: burlywood;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 3%;
}



footer {

    margin-top: 7%;
    text-align: center;
    color: crimson;
    font-size: 150%;
    text-shadow: 3px 3px black, 0 0 1px rgb(223, 203, 123);
}


button {
    margin: auto;
    width: 50%;
    margin-left: 26%;
    margin-top: 9%;
    font-family: "Rye", serif;
    color: crimson;
    font-size: 170%;
    background-color: burlywood;
}


@media (min-width:1281px) {


    .overlay {


        text-align: center;


    }

    h1 {
  

        font-size: 200%;

    }

    h2 {
       
        font-size: 90%;

    }

 


     .wanted {
  
    width: 70%;
    margin-left: 11%;
    margin-top: 2%;

  
    

    }

    .podata {
width: 45%;
margin-left: 31%;
margin-top: 33%;
      
}
.link {
    font-size: 200%;
}
header{
    font-size: 300%;

}
.crimes {
    height: 50%;
    margin-top: 5%;
}
ul {
    font-size: 130%;
}

button {

    margin-right: 25%;
    font-size: 400%;




}
footer {
    margin-top: 2%;
    font-size: 400%;

}
.imagecontainer {
    width: 625px;
    height: 510px;
    margin-left: 30%;
}

.base-timer__label {
    margin-top: 15%;
    text-align: center;
    color: crimson;
    font-size: 400%;
    text-shadow: 3px 3px black, 0 0 1px rgb(223, 203, 123);
  }
}