<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pages.css') }}">
    <title>Mr Podata Head</title>
</head>

<body>
<container class="overlay">
<a class="link" href="{{url_for('home')}}">Back to main page</a>
<section class="crimes">
<header>Illegal activity:</header>
<ul>
<li>Downloading 1 terabyte of Government po-data</li>
<li>Selling po-data on the dark web for new body parts</li>
<li>Leader of the Po-data cult responsible for tampering with server farms all over Europe, planting
infected
po-datas </li>
</ul>
</section>
<section class="imagecontainer">
<img id="podata-head"
src="https://people.com/thmb/MayGy_E9CakxF3d1SXzo25mjKk8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(704x499:706x501):format(webp)/mr-potato-head-2-81535c3c90494a4eada309828034eedf.jpg"
alt="Mr Podata Head">
<button onclick="toPunish()">Punish</button>

</section>
    <footer>$1,000,000,000 reward for his capture, mashed or alive</footer>

</container>
</body>
<!-- <script type="text/javascript" src="./js/index.js"></script> -->

</html>