<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
    <title>Mr Podata Head</title>
</head>

<body>
    <container class="overlay">
        <a class="link" href="{{url_for('home')}}">Back to main page</a>
        <section class="crimes">
            <header>Illegal activity:</header>
            <ul>
                <li>Downloading 1 terabyte of Government po-data</li>
                <li>Selling po-data on the dark web for new body parts</li>
                <li>Leader of the Po-data cult responsible for tampering with server farms all over Europe, planting
                    infected
                    po-datas </li>
            </ul>
        </section>
        <section class="imagecontainer">

            <img id="podata-head" src="{{url_for('static', filename='images/image1.webp')}}" alt="Mr Podata Head">
            <button type="button" onclick="change_images()">Punish</button>


            <script>
                i = 0
                function change_images() {
                    let current_image = document.getElementById('podata-head')

                    images = ['image1.webp', 'image2.jpeg', 'image3.png', 'image4.jpeg']

                    if (i == images.length) {
                        i = 0
                    }

                    current_image.src = "{{url_for('static', filename='images/') }}" + images[i];
                    i++

                }
            </script>

        </section>

        <span id="base-timer-label" class="base-timer__label">
        </span>
        <footer>HURRY it wont last forever!</footer>
        <script src="{{url_for('static', filename='countdown.js')}}"></script>

    </container>
</body>

</html>