<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
    <title>Mr Podata Head</title>
</head>

<body>
    <container class="overlay">

      <header>
    <h1>Mr Podata Head</h1>
    <h2 >Stealing po-data since 1989</h2>
   </header>   
<container class="wanted_poster">
    <img src="https://i.pinimg.com/564x/26/f8/20/26f82055b075336b7ee74d7a0353872f.jpg"
        alt="Wanted poster featuring reward of one million dollars"class="wanted" />
    <img src="https://discourse.disneyheroesgame.com/uploads/default/original/3X/b/c/bc80283b54dfe3e0620e05e5bc49256313f50eb5.jpeg"
        alt="Mr Potata Head with hands on his hips"class="podata" />
    </container>
    <a class="link"href="{{url_for('about')}}">Find out more</a>
</container>
</body>

</html>
